.seat-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seat-row {
  display: flex;
  gap: 6px;
}

.blankSeat{
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.seat {
  width: 32px;
  height: 32px;
  font-size: 14px;
  color:black;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


/* Status Colors */
.AVAILABLE {
  background-color: #e0f7fa;
}
.SELECTED {
  background-color: #4caf50;
  color: black;
}
.BOOKED {
  background-color: #f44336;
  color: black;
  cursor: not-allowed;
}
.DISABLED {
  background-color: #9e9e9e;
  color: black;
  cursor: not-allowed;
}
.RESERVED {
  background-color: #ff9800;
  color: black;
  cursor: not-allowed;
}

.seat-row-label-wrapper {
  margin: auto;
}

.seat-row-label-wrapper span {
  font-weight: bold;
  font-size: 24px;
  color: #ff8b8b;
}
