.busSeatSelect-wrapper * {
  box-sizing: border-box;
}

.busSeatSelect-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.busSeatSelect-container{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.busSeatSelect {
  display: flex;
}

.busSeatSelect-section-header {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
  font-weight: bold;
  font-size: 24px;
}

.busSeatSelect-seat-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.busSeatSelect-seat-row {
  display: flex;
  gap: 6px;
}
.busSeatSelect-seat-column{
  display: flex;
  flex-direction: column;
}


.busSeatSelect-blankSeat {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.busSeatSelect-seat {

  font-size: 14px;
  color: black;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -ms-user-select: none;
  /* For IE/Edge */
}


.busSeatSelect-seater{
  width: 32px;
  height: 32px;
}

.busSeatSelect-sleeper{
  width: 32px;
  height: 64px;
}


/* Status Colors */
.busSeatSelect-AVAILABLE {
  background-color: #e0f7fa;
}

.busSeatSelect-AVAILABLE_FOR_MALE {
  background-color: #4aa2eb;
}

.busSeatSelect-AVAILABLE_FOR_FEMALE {
  background-color: #d73d71;
}

.busSeatSelect-SELECTED {
  background-color: #4caf50;
  color: black;
}

.busSeatSelect-BOOKED {
  background-color: #9E9E9E;
  color: black;
}

.busSeatSelect-BOOKED_BY_FEMALE {
  background-color: #AD1457;
  color: black;
  cursor: not-allowed;
}

.busSeatSelect-BOOKED_BY_MALE {
  background-color: #1565C0;
  color: black;
  cursor: not-allowed;
}

.busSeatSelect-DISABLED {
  background-color: #9e9e9e;
  color: black;
  cursor: not-allowed;
}

.busSeatSelect-legend-container {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.busSeatSelect-legend-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.busSeatSelect-legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.busSeatSelect-legend-item>div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px !important;
  height: 24px !important;
}